@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'roboto';
  font-weight: 400;
}
/* header */
.header{
  width: 1110px;
  margin: 0 auto;
  /* border: 1px solid #000; */
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar__logo{
  padding: 50px;
}
.navbar__list{
  display: flex;
}
.navbar__list a{
  display: flex;
  color: #bab9b9;
  font-size: 18px;
  line-height: 15px;
  padding: 10px 4px 15px;
  margin: 0 19px;
  border-bottom: 2px solid transparent;
}
.navbar__list a:hover{
  color: #4581b7;
  border-bottom-color:#4581b7;
}
.header__img{
  width: 100%;
  margin-top: 50px;
}
.header__img img{
  width: 100%;
  object-fit: contain;
}
/* content */
.content{
  width: 1110px;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.content__info,
.content__contacts{
  min-height: 300px;
  background: #f0f0f0;
  padding: 40px;
}
.content__info{
  width: 730px;
}
.content__contacts{
  width: 350px;
}
.content__info h3,
.content__contacts h3{
  color: #4581b7;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}
.content__info p,
.content__contacts p{
  color: #7f7f7f;
  font-size: 16px;
  line-height: 27px;
}
.content__contacts a{
  color: #7f7f7f;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  margin-top: 50px;
}

.footer{
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  margin: 0 auto;
  padding: 20px 40px;
}
.footer__text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__text p{
  font-size: 16px;
  color: #808080;
}
.footer__text a{
  font-size: 25px;
  font-weight: 700;
  color: #808080 ;
}