@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'roboto';
  font-weight: 400;
}
/* header */
.header{
  width: 1110px;
  margin: 0 auto;
  /* border: 1px solid #000; */
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar__logo{
  padding: 50px;
}
.navbar__list{
  display: flex;
}
.navbar__list a{
  display: flex;
  color: #bab9b9;
  font-size: 18px;
  line-height: 15px;
  padding: 10px 4px 15px;
  margin: 0 19px;
  border-bottom: 2px solid transparent;
}
.navbar__list a:hover{
  color: #4581b7;
  border-bottom-color:#4581b7;
}
.header__img{
  width: 100%;
  margin-top: 50px;
}
.header__img img{
  width: 100%;
  object-fit: contain;
}